node-red/flows.json
[
    {
        "id": "cc6b4ac3.158a9",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "c87b8259.d36f",
        "type": "ui_group",
        "z": "",
        "name": "HDMI Matrix",
        "tab": "f03631b2.09043",
        "disp": true,
        "width": "6"
    },
    {
        "id": "8e86f0f.85a211",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "f03631b2.09043",
        "type": "ui_tab",
        "z": "",
        "name": "HDMI Matrix",
        "icon": "dashboard"
    },
    {
        "id": "7207361c.7d8688",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 1",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "1 ",
        "x": 614,
        "y": 315,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "7da8539a.b8aa1c",
        "type": "exec",
        "z": "cc6b4ac3.158a9",
        "command": "~pi/hdmi/hdmi.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "",
        "x": 1144.5,
        "y": 456.5,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "425250b2.0fb87",
        "type": "template",
        "z": "cc6b4ac3.158a9",
        "name": "Topic / Payload",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{topic}} {{payload}}",
        "x": 924,
        "y": 457,
        "wires": [
            [
                "7da8539a.b8aa1c"
            ]
        ]
    },
    {
        "id": "bf2fb19a.168a",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/1",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 420.5,
        "y": 315,
        "wires": [
            [
                "7207361c.7d8688"
            ]
        ]
    },
    {
        "id": "17d58827.fcd1c8",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 2",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "2",
        "x": 614,
        "y": 360,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "d88cce49.59262",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/2",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 420.5,
        "y": 360,
        "wires": [
            [
                "17d58827.fcd1c8"
            ]
        ]
    },
    {
        "id": "88cfdd43.7917",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 3",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "3",
        "x": 615,
        "y": 401,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "bdc01b9b.3d83b8",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/3",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 421.5,
        "y": 401,
        "wires": [
            [
                "88cfdd43.7917"
            ]
        ]
    },
    {
        "id": "dd3522ad.79eeb",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 4",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "4",
        "x": 615,
        "y": 441,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "19a64614.de4b0a",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/4",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 421.5,
        "y": 441,
        "wires": [
            [
                "dd3522ad.79eeb"
            ]
        ]
    },
    {
        "id": "931257f5.a974c8",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 5",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "5",
        "x": 615,
        "y": 484,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "896f9421.caf738",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/5",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 421.5,
        "y": 484,
        "wires": [
            [
                "931257f5.a974c8"
            ]
        ]
    },
    {
        "id": "f8fc7b0.4e68b88",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 6",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "6",
        "x": 615,
        "y": 529,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "71d2d024.6718a",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/6",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 421.5,
        "y": 529,
        "wires": [
            [
                "f8fc7b0.4e68b88"
            ]
        ]
    },
    {
        "id": "92f41457.c69218",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 7",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 14,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "7",
        "x": 616,
        "y": 570,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "ef449a9e.6bff68",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/7",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 422.5,
        "y": 570,
        "wires": [
            [
                "92f41457.c69218"
            ]
        ]
    },
    {
        "id": "415f8ec3.a0033",
        "type": "ui_dropdown",
        "z": "cc6b4ac3.158a9",
        "name": "Output 8",
        "label": "",
        "group": "c87b8259.d36f",
        "order": 16,
        "width": "3",
        "height": "1",
        "passthru": false,
        "options": [
            {
                "label": "Off",
                "value": "0",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "8",
        "x": 616,
        "y": 610,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "2f93d9f.b625226",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/8",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 422.5,
        "y": 610,
        "wires": [
            [
                "415f8ec3.a0033"
            ]
        ]
    },
    {
        "id": "32e13e26.edf8ca",
        "type": "function",
        "z": "cc6b4ac3.158a9",
        "name": "Populate Inputs",
        "func": "/* Edit the inputs names inside the \"\"s below.\n * \n * You can also change the 'default input number'\n * option, but this should really have minimal\n * effect if your MQTT server is running.\n */\n\ninputs=[\n     {\"Kodi\":1},\n     {\"Cable\":2},\n     {\"Roku\":3},\n     {\"Cast\":4},\n     {\"BluRay\":5},\n     {\"none\":6},\n     {\"none\":7},\n     {\"none\":8}\n    ];\n\ndefault_input_number=0;\nreturn {\n    options: inputs, \n    payload: default_input_number\n    };",
        "outputs": 1,
        "noerr": 0,
        "x": 380,
        "y": 266.5,
        "wires": [
            [
                "7207361c.7d8688",
                "17d58827.fcd1c8",
                "88cfdd43.7917",
                "dd3522ad.79eeb",
                "931257f5.a974c8",
                "f8fc7b0.4e68b88",
                "92f41457.c69218",
                "415f8ec3.a0033"
            ]
        ]
    },
    {
        "id": "785c6126.12bb28",
        "type": "inject",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 188,
        "y": 266.5,
        "wires": [
            [
                "32e13e26.edf8ca"
            ]
        ]
    },
    {
        "id": "343ae007.a54c28",
        "type": "ui_button",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "group": "c87b8259.d36f",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "Sync",
        "color": "",
        "bgcolor": "",
        "icon": "fa-refresh",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 624,
        "y": 664.5,
        "wires": [
            [
                "7da8539a.b8aa1c"
            ]
        ]
    },
    {
        "id": "29917523.c0c892",
        "type": "inject",
        "z": "cc6b4ac3.158a9",
        "name": "30 second refresh",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "x": 585,
        "y": 703,
        "wires": [
            [
                "7da8539a.b8aa1c"
            ]
        ]
    },
    {
        "id": "ea841c30.b87c78",
        "type": "comment",
        "z": "cc6b4ac3.158a9",
        "name": "#1: Edit Inputs",
        "info": "Please edit the 'Populate Inputs' node to adjust\nthe input names for your HDMI Matrix.\n\nNOTE: To Edit nodes, double click on them.",
        "x": 200.5,
        "y": 78.5,
        "wires": []
    },
    {
        "id": "443bc2a8.a5768c",
        "type": "comment",
        "z": "cc6b4ac3.158a9",
        "name": "#2: Edit Outputs",
        "info": "Please edit the left most teal flip switch nodes\nto adjust the output names for your HDMI Matrix.\n\nNOTE: To Edit nodes, double click on them.",
        "x": 211,
        "y": 117,
        "wires": []
    },
    {
        "id": "721be063.9f769",
        "type": "comment",
        "z": "cc6b4ac3.158a9",
        "name": "NOTE: 30 second refresh",
        "info": "Note that the system will automatically query your\nHDMI switch every 30 seconds to ensure the\ndisplayed options are up to date.",
        "x": 241,
        "y": 153,
        "wires": []
    },
    {
        "id": "79e6a786.e1dec",
        "type": "comment",
        "z": "cc6b4ac3.158a9",
        "name": "Click each comment below to read it's contents in the 'Info' tab on the right.",
        "info": "",
        "x": 390.5,
        "y": 41.5,
        "wires": []
    },
    {
        "id": "3609ea3d.2dff06",
        "type": "comment",
        "z": "cc6b4ac3.158a9",
        "name": "Once all edits are complete, click the red 'Deploy' button at the top right.",
        "info": "",
        "x": 380.5,
        "y": 190.5,
        "wires": []
    },
    {
        "id": "ed4d7233.9e4c2",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/1_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 90,
        "y": 319,
        "wires": [
            [
                "b840b83f.f045c8"
            ]
        ]
    },
    {
        "id": "b7465310.014ad",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/2_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 90,
        "y": 361,
        "wires": [
            [
                "cb4030bb.e022e"
            ]
        ]
    },
    {
        "id": "1695166f.74c23a",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/3_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 91,
        "y": 403,
        "wires": [
            [
                "8da3aafd.594248"
            ]
        ]
    },
    {
        "id": "c5415344.8cd47",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/4_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 91,
        "y": 443,
        "wires": [
            [
                "91b8ba6b.a93af8"
            ]
        ]
    },
    {
        "id": "c8efe4cd.362798",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/5_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 91,
        "y": 484,
        "wires": [
            [
                "799388cb.3df328"
            ]
        ]
    },
    {
        "id": "c400a27c.cc57d",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/6_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 91,
        "y": 528,
        "wires": [
            [
                "8cec3c4b.d365b"
            ]
        ]
    },
    {
        "id": "73ed18f8.1e1c98",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/7_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 92,
        "y": 568,
        "wires": [
            [
                "b6487937.c033e8"
            ]
        ]
    },
    {
        "id": "4b671cc7.b2e8c4",
        "type": "mqtt in",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "topic": "HDMI/8_state",
        "qos": "0",
        "broker": "8e86f0f.85a211",
        "x": 92,
        "y": 609,
        "wires": [
            [
                "66b16673.ec5668"
            ]
        ]
    },
    {
        "id": "b840b83f.f045c8",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "Main TV",
        "group": "c87b8259.d36f",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "1_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 263,
        "y": 319,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "cb4030bb.e022e",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "Front TV",
        "group": "c87b8259.d36f",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "2_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 263,
        "y": 361,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "8da3aafd.594248",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "Ext TV",
        "group": "c87b8259.d36f",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "3_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 253,
        "y": 403,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "91b8ba6b.a93af8",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "Bed TV",
        "group": "c87b8259.d36f",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "4_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 263,
        "y": 443,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "799388cb.3df328",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "Projector",
        "group": "c87b8259.d36f",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "5_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 263,
        "y": 484,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "8cec3c4b.d365b",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "TV 6",
        "group": "c87b8259.d36f",
        "order": 11,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "6_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 253,
        "y": 528,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "b6487937.c033e8",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "TV 7",
        "group": "c87b8259.d36f",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "7_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 253,
        "y": 568,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    },
    {
        "id": "66b16673.ec5668",
        "type": "ui_switch",
        "z": "cc6b4ac3.158a9",
        "name": "",
        "label": "TV 8",
        "group": "c87b8259.d36f",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": false,
        "topic": "8_state",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 253,
        "y": 609,
        "wires": [
            [
                "425250b2.0fb87"
            ]
        ]
    }
]